<aside class="col-lg-4">
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search">
      <header>
        <h3 class="h6">Search the blog</h3>
      </header>
      <form action="{% url 'blog' %}" class="search-form">
        <div class="form-group">
          <input type="search" name="query" placeholder="What are you looking for?">
          <button type="submit" class="submit"><i class="icon-search"></i></button>
        </div>
      </form>
    </div>
    <!-- Widget [Latest Posts Widget] -->
    <div class="widget latest-posts">
      <header>
        <h3 class="h6">Latest Posts</h3>
      </header>
      <div class="blog-posts"> 
        {% for lates_post in latest %}
      <a href="{{lates_post.get_absolute_url}}">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="{{lates_post.header_img.url}}" alt="..." class="img-fluid"></div>
             <div class="title"><strong>{{lates_post.title}}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i>{{lates_post.views}}</div>
                <div class="comments"><i class="icon-comment"></i>{{lates_post.get_comment_count}}</div>
              </div>
             </div>
            </div>
      </a>
      {% endfor %}
        </div>
    </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
      <header>
        <h3 class="h6">Categories</h3>
      </header>
      {% for category in  category_count %}

      <div class="item d-flex justify-content-between"><a href="{% url 'category' category.categories__text %}">{{category.categories__text}}</a><span>{{category.categories__count}}</span></div>
      {% endfor %}
    
    </div>
    <!-- Widget [Tags Cloud Widget]-->
    <div class="widget tags">       
      <header>
        <h3 class="h6">Tags</h3>
      </header>
      <ul class="list-inline">
          {% for tag in tags %}

          <li class="list-inline-item"><a class="tag">#{{tag}}</a></li>
          {% endfor %}
      </ul>
    </div>
  </aside>