 
{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section-->
    <section style="background: url({% static 'blg/landing.jpg' %}); background-size: cover; background-position: center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 style="color: #fff; font-weight: 1200;">Cyber Rush - Master the Art of Cyber</h1><a href="{% url 'blog' %}" class="hero-link">Find out more</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">
              Welcome to the Cyber Rush</h2>
            <p class="text-big">A place to share knowledge to obtain the <strong>maximum return of your experience in Computer Science field.</strong>  On this website you will find all the necessary tips to become an expert. Learn the basic concepts, techniques and methods through professionals in the sector, all described in  friendly language. Go ahead and make yourself comfortable, <strong>
are you at home</strong>  </p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for post in posts %} 
        <div class="row d-flex align-items-stretch">
          {% if not forloop.first and  not forloop.last %}
          <div class="image col-lg-5"><img src="{{post.header_img.url}}" alt="..."></div>
          {% endif%}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for category in  post.categories.all %}
                    <a href="{% url 'category' category %}">{{category}}</a>
                    {% endfor %}
                  </div>
                  <a href="{{post.get_absolute_url}}">
                    <h2 class="h4">{{post.title}}</h2>
                  </a>
                </header>
                <p>{{post.text}}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{post.author.profile_pic.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author.user.username}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> {{post.created_at | timesince}} ago</div>
                  <div class="comments"><i class="icon-comment"></i>{{post.get_comment_count}}</div>
                </footer>
              </div>
            </div>
          </div>
          {% if forloop.first or forloop.last %}
          <div class="image col-lg-5"><img src="{{post.header_img.url}}" alt="..."></div>
          {% endif%}
        </div>

        
         
        {% endfor %}
       
       
      </div>
    </section>
    <!-- Divider Section-->
   
   
    <section style="background: url({% static 'blg/landing1.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>“I WILL ALWAYS CHOOSE A LAZY PERSON TO DO A DIFFICULT JOB… BECAUSE, HE WILL FIND AN EASY WAY TO DO IT" - Bill Gates</h2><a href="{% url 'blog' %}" class="hero-link">Find out more</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest blog entries.</h2>
          <p class="text-big">Access the latest news</p>
        </header>
        <div class="row">
          
          {% for latest_post in latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="{{latest_post.get_absolute_url}}"><img src="{{latest_post.header_img.url}}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{latest_post.created_at}}</div>
                <div class="category">
                  
                  {% for category in  latest_post.categories.all %}
                  <a href="{% url 'category' category %}">{{category}}</a>
                  {% endfor %}
                  <a href="#">Business</a>
                </div>
              </div><a href="{{latest_post.get_absolute_url}}">
            <h3 class="h4">{{latest_post.title}}</h3></a>
              <p class="text-muted">{{latest_post.text}}</p>
            </div>
          </div>
          {% endfor %}
        
         
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to the newsletter</h2>
            <p class="text-big">
              To keep up to date with the latest news on the web, and receive notifications of new entries in the <strong> Cyber Rush blog. </strong></p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form  method="POST"  action="{% url 'home' %}">
                <div class="form-group"  >
                  {% csrf_token %}
                  <input type="email" name="email" id="email" placeholder="Type your email address" required>
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'logo/1.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'logo/1.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'logo/2.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'logo/2.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'logo/3.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'logo/3.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'logo/4.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'logo/4.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    

    {% endblock content %}
